body{
  background-color: hsl(30, 38%, 92%);
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

p{
  font-size: 0.9rem;
  font-weight: lighter;
  color: hsl(228, 12%, 48%);
}

h1{
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
}

h5{
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.35rem;
  padding: 12px 0 4px;
  color: hsl(228, 12%, 48%);
}

.card{
  margin:5rem auto 0;
}
/* 
.card-body{
  padding-right: 0.01rem;
} */

.big-price{
  display: inline-block;
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-size: 1.7rem;

}

.striked-out{
  display: inline-block;
  text-decoration: line-through;
  position: relative;
  left: 20px;
  bottom: 5px;
  font-size: 0.8rem;
}

.btn{
  background-color: hsl(158, 36%, 37%);
}

.btn:hover{
  background-color: hsl(212, 21%, 14%);;
}


.attribution { 
  font-size: 11px; 
  text-align: center;
  margin: 50px auto 0; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}


@media screen and (max-width: 800px) {
  .perf-img{
    height: 200px;
    overflow: hidden;
    border-top-right-radius: 6px;
  }

  .sm-card{
    width: 300px;
  }

  .card{
    width: 300px;
  }

}